{% extends 'clubs/base.html' %}
{% load static %}
{% block content %}
<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        {{club.name}}
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2"> <button type="button"
                class="btn btn-sm btn-outline-secondary">Share</button> <button type="button"
                class="btn btn-sm btn-outline-secondary">Export</button> </div> <button type="button"
            class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#calendar3"></use>
            </svg>
            This week
        </button>
    </div>
</div>
<div>
    <p>
        {{club.description}}
    </p>
</div>
<h2>
    Club Members
</h2>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Is active</th>
                <th scope="col">Joined At</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>
                        {{member.user.first_name}} {{member.user.last_name}}
                    </td>
                    <td>
                        {{member.role}}
                    </td>
                    <td>
                        {{member.is_active}}
                    </td>
                    <td>
                        {{member.joined_at}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createClubFormModal">
Register a club
</button>
<a href="{% url 'clubs:member-lookup' %}" class="btn btn-success">Add member</a>
{% endblock %}
{% block after_main %}
<!-- Modal -->
<div class="modal fade" id="createClubFormModal" tabindex="-1" aria-labelledby="createClubFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createClubFormModalLabel">
                    Create a new club
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form action="{% url 'clubs:index' %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ create_club_form }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success">
                        Create Club
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
