{% extends 'clubs/base.html' %}
{% load static %}
{% block content %}
<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        {{club.name}}
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2"> <button type="button"
                class="btn btn-sm btn-outline-secondary">Share</button> <button type="button"
                class="btn btn-sm btn-outline-secondary">Export</button> </div> <button type="button"
            class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#calendar3"></use>
            </svg>
            This week
        </button>
    </div>
</div>
<div>
    <p>
        <i>
            Financial Year:
        </i>
        {{financial_year.start_date}} - {{financial_year.end_date}}
    </p>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
        Transactions
    </button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
        Dues
    </button>
    <button class="nav-link" id="nav-parts-tab" data-bs-toggle="tab" data-bs-target="#nav-parts" type="button" role="tab" aria-controls="nav-parts" aria-selected="false">
        Participants
    </button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Debit</th>
                    <th scope="col">Member</th>
                </tr>
            </thead>
            <tbody>
                {% for trans in transactions %}
                    <tr>
                        <td>
                            {{trans.transaction_date}}
                        </td>
                        <td>
                            {{trans.description}}
                        </td>
                        <td>
                            {{trans.credit}}
                        </td>
                        <td>
                            {{trans.debit}}
                        </td>
                        <td>
                            {{trans.club_member.user.id}} : {{trans.club_member.user.first_name}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Amount</th>
                    <th scope="col">Due</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for due in dues %}
                    <tr>
                        <td>
                            {{due.amount}}
                        </td>
                        <td>
                            {{due.due_period}}
                        </td>
                        <td>
                            <a href="">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-parts" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Is active</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for member in participants %}
                    <tr>
                        <td>
                            {{member.club_member.user.first_name}} {{member.club_member.user.last_name}}
                        </td>
                        <td>
                            {{member.is_active}}
                        </td>
                        <td>
                            <a href="">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#memberLookUpFormModal">
Record Transaction
</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clubFinancialYearFormModal">
Add new Due
</button>

{% endblock %}
{% block after_main %}
<!-- MemberLook up Form Modal -->
<div class="modal fade" id="memberLookUpFormModal" tabindex="-1" aria-labelledby="memberLookUpFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="memberLookUpFormModalLabel">
                    Enter Member Email
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form action="{% url 'clubs:member-lookup' club.id %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ look_up_form }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Club Financial Form Modal -->
<div class="modal fade" id="clubFinancialYearFormModal" tabindex="-1" aria-labelledby="clubFinancialYearFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="clubFinancialYearFormModalLabel">
                    Enter Financial Year Details
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form action="{% url 'clubs:financial-year' club.id %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ financial_year_form }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
