{% extends 'clubs/base_v2.html' %}
{% load static %}
{% block content %}
<div class="col-12">
    <div class="page-header">
        <h1 class="page-title">Savings Clubs</h1>
        <button class="btn btn-new-club" data-bs-toggle="modal" data-bs-target="#createClubFormModal">New Club</button>
    </div>
    {% for club in clubs %}
        <div class="club-item">
            <div class="club-info">
                <div class="club-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z">
                        </path>
                    </svg>
                </div>
                <div class="club-details">
                    <a href="{% url 'clubs:detail' club.id %}">
                        <h6>{{ club.name }}</h6>
                    </a>
                    <p>12 members</p>
                </div>
            </div>
            <p class="club-amount">Ugx 250,000</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
{% block after_main %}
<!-- Modal -->
<div class="modal fade" id="createClubFormModal" tabindex="-1" aria-labelledby="createClubFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createClubFormModalLabel">
                    Create a new club
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form action="{% url 'clubs:index' %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ create_club_form }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success">
                        Create Club
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</main>
{% endblock %}
