{% extends 'clubs/base.html' %}
{% load static %}
{% block content %}
<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        Search Results
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2"> <button type="button"
                class="btn btn-sm btn-outline-secondary">Share</button> <button type="button"
                class="btn btn-sm btn-outline-secondary">Export</button> </div> <button type="button"
            class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#calendar3"></use>
            </svg>
            This week
        </button>
    </div>
</div>
<div>
    {% if member %}
        <p>
            Below is the user matching your query.
        </p>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{member.first_name}} {{member.last_name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{member.email}}</h6>
                <a href="{% url 'clubs:add-member' club.id %}?email={{ member.email }}" class="btn btn-success">Add to Club</a>
            </div>
        </div>
    {% else %}
        <p>
            No members found with email: {{email}}. Invite them to sign up.
        </p>
    {% endif %}
</div>
{% endblock %}
{% block after_main %}
{% endblock %}
